<%- include('../partials/header') %>

<h1 style="margin-left: 5%;">Contact Us</h1>
<form method="POST" action="/contact" style="margin-left: 5%;">
  <input type="text" name="name" placeholder="Your Name" required /><br />
  <input type="email" name="email" placeholder="Your Email" required /><br />
  <textarea name="message" placeholder="Your Message" required></textarea><br />
  <button type="submit">Send</button>
</form>

<%- include('../partials/footer') %>