<table>
    <thead>
        <tr>
            <th>
                <h1>Upcoming Events</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <% event_data.forEach(event => { %>
        <tr>
            <td>
                <h2><%= event.title %></h2>
                <p>Date: <%= event.date %></p>
                <p>Location: <%= event.location %></p>
            </td>
            
        </tr>
        <% }) %>
    </tbody>
</table>