<%- include('../partials/header') %>
<link rel="stylesheet" href="public/css/style.css">

<!-- Main title for home page-->
<section class="hero">
    <h1 class="hero-title">StreetSync</h1>
    <div class="scroll-arrow" onclick="scrollToSection()">↓</div>
  </section>

    <script>
    function scrollToSection() {
      document.getElementById("upcoming").scrollIntoView({ behavior: "smooth" });
    }
  </script>

  <section class="upcoming-section" id="upcoming">
    <h2>Upcoming events will be displayed here</h2>
  </section>
  
<div class="grid-container">
    <div class="grid-item1">About Us</div>
    <div class="grid-item2">Our Team</div>
    <div class="grid-item3"></div>
    <div class="grid-item4"><video autoplay>
      <source src="/images/flyby.mp4" type="video/mp4">
    </video>
  </div>
    <div class="grid-item5"></div>
    <div class="grid-item6">
      <div id="events">Events</div>
    </div>
    <div class="grid-item7"></div>
    <div class="grid-item8">Contact Us</div>
    <div class="grid-item9"></div>
    <div class="grid-item11"></div>
  </div>

<!-- find a way to add it to the js file -->
<script>
    function scrollToContent() {
      document.querySelector('.container').scrollIntoView({ behavior: 'smooth' });
    }
  
    window.addEventListener('scroll', () => {
      const arrow = document.getElementById('scroll-arrow');
      if (window.scrollY > 100) {
        arrow.classList.remove('hidden');
        arrow.classList.add('visible');
      } else {
        arrow.classList.remove('visible');
        arrow.classList.add('hidden');
      }
    });
</script>

<%- include('../partials/footer') %>
