<!-- Include shared header partial-->
<%- include('../partials/header') %>

<!-- CSS Link -->
<link rel="stylesheet" href="public/css/style.css">

<!-- Thank You Page Container with full-screen background -->
<div class = "thank-you-body">
    <div class="thank-you-container">
        <h1>Thank You!</h1>
        <p>Your message has been received.<br>We will get back to you soon.</p>
        <br>
        <span class="redirect-msg">Redirecting to homepage in 5 seconds...</span>
    </div>
</div>

<!--Script redirects user to home page after a few seconds -->
<script>
    setTimeout(() => {window.location.href = "/"}, 5000)
</script>

<!-- Include shared footer partial -->
<%- include('../partials/footer') %>