<%- include('../partials/header') %>

<h1>Thank You!</h1>
<p>Your message has been received.</p>

<script>
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); // Redirects after 3 seconds
</script>

<%- include('../partials/footer') %>