<%- include('../partials/header') %>
<link rel="stylesheet" href="public/css/style.css">

<div class="thank-you-container">
        <h1>Thank You!</h1>
        <p>Your message has been received.<br>We ill get back to you soon.</p>
        <span class="redirect-msg">Redirecting to homepage in 5 seconds...</span>
    </div>
<h1>Thank You!</h1>

<!--Redirects to home page after a few seconds -->
<script>
    setTimeout(() => {window.location.href = "/"}, 5000)
</script>